<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>English Translator</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
  <script type="text/template" id="word-template">
    <li><%= word.value %> (<%= word.key %>)</li>
  </script>
</head>
<body>
  <script src="javascripts/lib/jquery.js"></script>
  <script src="javascripts/lib/underscore.js"></script>
  <script src="javascripts/lib/backbone.js"></script>
  <script src="javascripts/app.js"></script>
  <input type="text" id="word" />
  <input type="submit" value="Search" /><br>
  <ul id="words"></ul>
</body>
</html>
