<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="description" content="This API consists of sets of English words and their correspondng countries. Like a translation dictionary, but just for English.">
  <meta name="keywords" content="english-english API, english, API, english-english">
</head>
  <body>
    <h1>
      English to English Dictionary
    </h1>

    <p>
      Use this API to search for a word and it will return a list of ways to say it in several English-speaking countries.
    </p>

    <a href="/api/words">See all words</a><br>
    <a href="/api/words/random">Search a random word</a><br>
    <p>
      Click <a href="/api/words">here</a> and append your word to the URL.
    </p>  
  </body>
</html>
